.pageHeader{
    text-align: center;
}
.mainTbl{
    width:100%;
    text-align: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.barAlign{
    text-align: center;
}
.subRowAlign {
    padding: 1% 1% 1% 1%;
}
.metricsMainBlock{
    border: 2px solid red;
}
.alignPieText{
    padding-top:10%;
}
.debugReleaseUpdate{
    color: dodgerblue;
}
.tableHeader{
    font-weight: bold;
}
.buildReleaseTime{
    color:black;
}
.labelTextMetrics{
    color:black;
}
